*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
  }
  body{
    background:rgba(214, 214, 214, 1);
  }

/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1.5\rem 8%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    background-color: rgba(44, 43, 48, 1);
  }
  .header .logo{
    font-size: 20px;
    font-weight: bolder;
    /* color: #fff; */
    padding-right: 10px;
    margin-right: 10rem;
    /* background: -webkit-linear-gradient(rgba(242, 196, 206, 1),rgba(245, 143, 124, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color:  #3498db;
  }
  /* .header .logo i{
    color: #fff;
    padding: 0.5rem;
  } */
  .header .navbar a{
    font-size: 1.1rem;
    margin: 0 1rem;
    color: #fff;
  }
  .header .navbar a:hover{
    color: #3498db;
  }
  .header .btn{
    background: transparent;
    color: tomato;
    border: 1px solid tomato;
    font-size: 12px;
    padding: 8px;
  }


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: rgba(44, 43, 48, 1);
    margin: 10px, 0, 0, 0;
    }
.footer h4{
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 600;
    color: white;
}
.footer p{
    color:white;
}
/* .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
} */

.mid{
    color:rgba(44, 43, 48, 1);
    margin: 5% 10% 0% 10%;
    
}

.mid h1{
    text-align: center;
    font-size: 3.1rem;
    font-weight: 600;
    color: #3498db;
    padding-bottom: 30px;
}

.hack-img{
    padding: 0px 10% 70px 15%;
    align-self: center;
    margin-left: 125px;
}

section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f7fbfe;
  }

.section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
  }
  
  .section-title h2::before,
  .section-title h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
  }
  
  .section-title h2::before {
    margin: 0 10px 10px 0;
  }
  
  .section-title h2::after {
    margin: 0 0 10px 15px;
  }  
  .section-title p {
    margin: 15px 0 0 0;
  }

.services .icon-box {
    padding: 30px;
    margin: 10px 10px 10px 10px ;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  
  .services .icon-box::before {
    content: "";
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
  }
  
  .services .icon-box:hover::before {
    background: #3498db;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  
  .services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #3498db;
    transition: all 0.3s ease-in-out;
  }
  
  .services .icon i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
  }
  
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .title a {
    color: #111;
  }
  
  .services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover .title a,
  .services .icon-box:hover .description {
    color: #fff;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #3498db;
  }

  /* overview start */
  .your_portfolio {
    padding: 0px 0 20px 0;
    margin-top: -10px;
  }
  
  .container {
    width: 1200px !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
  
  }
  
  .gradient-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 30px;
  
  }
  
  .container-title {
    text-align: center;
    padding: 50px !important;
    margin-bottom: 10px;
    font-size: 40px;
    color: rgba(44, 43, 48, 1);
    font-weight: 600;
    line-height: 80px;
  }
  
  .card {
    max-width: 1000px;
    border: 0;
    width: 100%;
    margin-inline: auto;
  }
  
  .container-card {
    position: relative;
    border: 4px solid transparent;
    background: white;
    background-clip: padding-box;
    border-radius: 20px;
    padding: 20px;
  
  }
  
  .bg-green-box,
  .bg-white-box,
  .bg-yellow-box,
  .bg-blue-box {
    position: relative;
  }
  
  .bg-green-box::after,
  .bg-white-box::after,
  .bg-yellow-box::after,
  .bg-blue-box::after {
    position: absolute;
    top: -4px;
    bottom: -2px;
    left: -2px;
    right: -4px;
    content: "";
    z-index: -1;
    border-radius: 20px;
  }
  
  .bg-green-box::after {
    /* background: linear-gradient(rgba(29, 205, 254, 1),rgba(33, 208, 179, 1),rgba(52, 245, 198, 1)); */
    background: #3498db;
  }
  
  .bg-white-box::after {
    background: #3498db;
  }
  
  .bg-yellow-box::after {
    background: #3498db;
  }

  
  .card-title {
    font-weight: 600;
    color: black;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 1px;
  }
  
  .card-description {
    font-weight: 60;
    line-height: 30px;
    color: rgba(44, 43, 48, 1);
    font-size: 25px;
    max-width: 470px;
  }
  /* overview ends */
  

  